@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        @helper inlinehelper(int[] numbers)
        {
            <ul>
                @foreach (int number in numbers)
                {
                    <li>@number</li>

                }
            </ul>
        }


        @inlinehelper(new int[] { 5, 15, 84, 58, 4, 88, 4, 48, 42, 582 });

    </div>
</body>
</html>
